{% extends '_base.html' %}

{% block title%}
Shadow Entry
{% endblock title%}

{%block content%}
{% load django_bootstrap5 %}


<div class="card cold-white mt-3 mb-3">
  <div class="card-header soft-blue">
  <div class="card-title display-6">
    <i class="bi bi-shadows"></i><i class="bi bi-shadows"></i> Shadow Reflections</div>
</div>
  <div class="card-body">
<p class="card-title">This prompt helps you to think about areas outside your awareness. This prompts are not easy and may be triggering.
  Their aim is to be unconfortable and to help you go a bit further in your self knoledge.
</p>
 <p>Please, do not push yourself, and do not explore things you don't feel you cannot handle. You can leave them blank and come back to them later.</p>
<p class="card-title border-bottom mb-4">Take a moment to reflect on each.</p>

<h5><i class="bi bi-shadows"></i> Shadow Dive:</h5>
{% if user.is_authenticated %}

  <form action="{% url 'dive_app:new_shadow' %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type='submit' content='Submit new Shadow' %}
  </form>
{% else %}
<div class="alert alert-success" role="alert">
  Please Sign In before anwsering, so we can save your results <a href="{% url 'account_login' %}">Sign In</a>
</div>
{% endif %}

  <a href="{% url 'dive_app:shadows_by_date' %}" class="card-link">Back to Shadow list</a>
  <a href="{% url 'dive_app:index' %}" class="card-link">Back to Diver</a>

</br></br>

  {% endblock content %}

