
{% extends 'between_app/_base.html' %}

{% block content %}

<p>Answers after Session</p>

<p>
  <a href="{%url 'dive_app:new_question'%}">Add new question reflexion</a>
</p>

<ul>
  {% for answer in answers%}
    <li>
      <p>{{answer.date_added|date:'M d,Y H:i'}} </p>
      <p>{{answer.title}} </p>
      <p>{{answer.text|linebreaks}}</p>
      <p><a href="{%url 'dive_app:shadow_item' answer.pk %}">
        See Entry</a></p>
    </li>

    {% empty %}
    <li>There are no entries for this topic yet. </li>
  </ul>
  {% endfor %}

  <a href="{% url 'dive_app:shadows_by_date' %}" class="card-link">Back to Shadow list</a>
  <a href="{% url 'dive_app:index' %}" class="card-link">Back to Journaling</a>






{% endblock content %}
