# requirements.txt

asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
dj-database-url==2.1.0
Django==4.2.13
django-bootstrap5==23.4
django-floppyforms==1.9.0
idna==3.7
pillow==10.3.0
python-decouple==3.8
requests==2.32.2
resend==1.2.0
sqlparse==0.4.4
typing_extensions==4.10.0
urllib3==1.26.18
