<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%}CreaTherapy{%endblock title%}</title>

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body class='bg-light'>
<nav class="navbar navbar-expand-lg bg-primary sticky-top start-0" data-bs-theme="dark">
    <div class='container-fluid'>
        <a class='navbar-brand' href="{% url 'between_app:index' %}">
            CreaTherapy</a>

        <button class='navbar-toggler' type='button' data-bs-toggle='collapse'
        data-bs-target='#navbarCollapse' aria-controls='navbarCollapse'
        aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
        </button>
        
        <!-- collapsable part of the Navegation Bar -->
        <div class='collapse navbar-collapse' id='navbarCollapse'>
            <ul class='navbar-nav me-auto mb2 mb-md-0'> <!-- 'me' refers to left, and 'ms' to right -->
                <li class='nav-item'>
                    <a class='nav-link' href="{% url 'between_app:test_home' %}">
                        My Tests</a></li>
                <li class='nav-item'>
                    <a class='nav-link' href="{% url 'learning_logs:index' %}">
                        My Journal</a></li>
                <li class='nav-item'>
                    <a class='nav-link' href="{% url 'pages:index' %}">
                        Theory</a></li>
                <li class='nav-item'>
                  <a class='nav-link' href="{% url 'techniques_app:index' %}">
                      Techniques</a></li>
            </ul><!-- End of links on left side of nvbar -->
            <!-- Account related links-->
            <ul class='navbar-nav ms-auto mb-2 mb-md-0'>
                {% if user.is_authenticated %}
                <class='nav-item'>
                    <span class='navbar-text me-2'>Hello, {{user.username}}! <small><a class='nav-link-inline link-secondary' href="{% url 'account_logout' %}"> Log Out</a></small></span></li>
                {% else %}
                <li class='nav-item'>
                    <a class='nav-link' href="{% url 'account_signup'%}">Signup</a></li>
                <li class='nav-item'>
                    <a class='nav-link' href="{% url 'account_login' %}">Log in</a></li>
                {% endif %}
            </ul> 
               <!-- End of account related links -->
         </div> <!-- Closes collapsible parts of navbar -->
    </div><!-- closes navbar container-->
</nav><!-- end of navbar -->

<!-- Main section -->

<main class='container'>
      
    <!-- As a heading with display -->

    <h1 class="display-6">{% block page_header %}{% endblock page_header %}</h1>




    <div> 
        {% block content %} {% endblock content %}      
    </div>
    
    
</main>
<footer>
</br></br>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-bottom">
        <div class="container-fluid">
          <a class="navbar-brand" href={% url "between_app:index" %}>Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link fw-light" aria-current="page" href="mailto:gsoler@protonmail.com">Email</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-light" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-light" href="#">Therapy</a>
              </li>
            </ul>
            <span class="navbar-text fw-light">
              All content was created and developed by the Dr Gabriel Soler.
            </span>
          </div>
        </div>
      </nav>


</footer>
</body>
</html>

