<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%}CreaTherapy{%endblock title%}</title>

    {% load django_bootstrap5 %}
    {% load url_utils %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static "between_app/css/style.css" %}">

    <!--font icons bootstrap css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap&text=CreaTherapy" rel="stylesheet">

<!--favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "between_app/favicon_io/apple-touch-icon.png"%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "between_app/favicon_io/favicon-32x32.png"%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "between_app/favicon_io/favicon-16x16.png"%}">
    <link rel="manifest" href="{% static 'between_app/favicon_io/site.webmanifest' %}">

</head>

<body class='bg-light'>
<nav class="navbar navbar-expand-lg bg-primary sticky-top start-0" data-bs-theme="dark" id="top-nav-bar">
    <div class='container-fluid'>
    
        <a class='navbar-brand t-bright-yellow' href="{% url 'between_app:index' %}"  
            style="font-family:'Edu AU VIC WA NT Hand',verdana,san-serif;">
          <img
          src="{% static "between_app/favicon_io/favicon-32x32.png"%}"
          class="img-fluid rounded mb-2"
          alt=""
        />  
          CreaTherapy</a>

        <button class='navbar-toggler' type='button' data-bs-toggle='collapse'
        data-bs-target='#navbarCollapse' aria-controls='navbarCollapse'
        aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
        </button>
        
        <!-- collapsable part of the Navegation Bar -->
        <div class='collapse navbar-collapse' id='navbarCollapse'>
            <ul class='navbar-nav me-auto mb2 mb-md-0'> <!-- 'me' refers to left, and 'ms' to right -->
                <li class='nav-item'>
                    <a class='nav-link t-burnt-yellow {% if request.path|url_section:1 == '/tests/' %}active{% endif %}' 
                    aria-current="page"      
                    href="{% url 'between_app:test_home' %}">
                        My Tests</a></li>
                <li class='nav-item'>
                    <a class='nav-link t-burnt-yellow {% if request.path|url_section:1 == '/learning/' %}active{% endif %}' 
                          href="{% url 'learning_logs:index' %}">
                        My Journal</a></li>
                <li class='nav-item'>
                    <a class='nav-link t-burnt-yellow {% if request.path|url_section:1 == '/pages/' %}active{% endif %}' 
                          href="{% url 'pages:index' %}">
                        Theory</a></li>
                <li class='nav-item'>
                  <a class='nav-link t-burnt-yellow {% if request.path|url_section:1 == '/techniques/' %}active{% endif %}' 
                        href="{% url 'techniques_app:index' %}">
                      Techniques</a></li>
            </ul><!-- End of links on left side of nvbar -->
            <!-- Account related links-->
            {% if user.is_authenticated %}
            {% url 'account_email' as email_url %}
            {% url 'socialaccount_connections' as socialaccount_url %}
            {% if email_url or socialaccount_url %}

            <!--Account with person icon-->
                <a href="{% url 'accounts:account_profile' %}"
                   class="btn text-success"><i class="bi bi-person-circle fs-5"></i></a>
            {% endif %}

            <!--Log out, with exit icon-->
            <a href="{% url 'account_logout' %}" class="btn text-warning"><i class="bi bi-box-arrow-right fs-5"></i></a>
            {% csrf_token %}
        {% else %}
            <a href="{% url 'account_login' %}" class="btn me-1 btn-outline-light">Sign In</a>
            {% url 'account_signup' as signup_url %}
            {% if signup_url %}
                <a href="{{ signup_url }}" class="btn btn-outline-success">Sign Up</a>
            {% endif %}
        {% endif %}
               <!-- End of account related links -->
         </div> <!-- Closes collapsible parts of navbar -->
    </div><!-- closes navbar container-->
</nav><!-- end of navbar -->

<!-- Main section -->

<main>

      {% block body %}
      {% block intro %}
      {% endblock intro %}
    <div class="container-fluid mx-auto col-12 col-md-10"> 
        {% block content %} {% endblock content %}      
    </div>
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}
    
</main>
<footer>
</br></br>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-bottom">
        <div class="container-fluid">
          <a class="navbar-brand" href={% url "between_app:index" %}>Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link fw-light" aria-current="page" href="mailto:creatherapy.app@gmail.com">Email</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-light" href='/about/'>About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-light" href='https://www.gabrielsoler.co.uk/'>Therapy</a>
              </li>
            </ul>
            <span class="navbar-text fw-light">
              All content was created and developed by Dr Gabriel Soler.
            </span>
          </div>
        </div>
      </nav>


</footer>
</body>
</html>

