{% extends 'between_app/_base.html' %}
{% load static %}
{% load django_bootstrap5%}



{% block intro %}

<div class="cover-container ms-0 d-flex mx-auto flex-column mb-2"
    style="background-image:url({% static 'between_app/images/crea-cover.png' %});
    background-position:center;
    background-size:cover;
    height:80vh;
    width:100vw;
    min-height:400px;
    z-index:10;"
    id="cover">
  
    <div class="px-3 ms-4 my-auto">
    {% if user.is_authenticated %}
    <!--Wellcomes the authenticated user and gives two options:tests or theory-->
    <h1 class="t-bright-yellow" id="landing-text_1">Welcome back, {{user.username}}!</h1>
    <p class="text-light lead" id="landing-text_2">
      <i class="bi bi-brush-fill"></i> Keep exploring and playing!
        <a class="link fs-6" href="https://theory.crea-therapy.com/" target="_blank">Read Theory</a>
      </p>
        <a href="{% url 'between_app:test_home' %}" class="btn btn-lg btn-primary fw-bold" id="landing-button">See your tests</a>

    {% else %}
    <!--Wellcomes the user and gives a test option-->
    <h1 class="t-bright-yellow" id="landing-text_1">Your Journey your Knowledge</h1>
    <p class="text-light" id="landing-text_2">
      <i class="bi bi-brush-fill lead"></i> A creative and modular approach to psychotherapy.
      <a class="link fs-6" href="https://theory.crea-therapy.com/" target="_blank">CreaTheory</a>
      </p>
        <p class="lead">
          <a href="{% url 'between_app:profile_test' %}" class="btn btn-lg btn-primary fw-bold" id="landing-button">Take a Test</a>
    {% endif %}
    </p>
  </div>
  
 
    <div class="mt-auto text-white-50">
      <p class="d-inline" id="my_site_link">Check out <a href="https://www.gabrielsoler.co.uk/">My site</a></p>
      <a href="#intro-card"><i class="bi bi-arrow-down-short mb-2 text-light position-absolute start-50 fs-4"></i></a>

    </div>
  </div>

    {% endblock intro %}
{% block content%}
    
{%endblock content %}


