{% extends 'between_app/cover.html' %}
{% load static %}
{%block title%}CreaTherapy{%endblock title%}
{% load django_bootstrap5%}

{%block page_header%}{%endblock page_header%}


{%block content%}


<div class="card mb-3 shadow border-primary border-3 col-12 mx-auto" id="intro-card">
    <div class="card-body cold-white  rounded">
    <div class="col-lg-12 mx-auto">
    <!--Two starting points depending on user authentication-->
        {% if user.is_authenticated%}
        <h2 class="card-title">Hey, {{user.username}}!</h2>
        <p class="card-text" id="welcome-authenticated">Welcome back!</p>
        <p class="card-text">Please explore the site and make it your own. All you do is being saved privately and you can come back to it any time.</p>
        {% else %}
        <h2 class="card-title">Hey!</h2>
        <p class="card-text" id="welcome-no-authenticated">
            <i class="bi bi-play-fill"></i>CreaTherapy a project to re-imagine psychotherapy, in creative way from theory to practice.</p>
        <p class="card-text">
            <i class="bi bi-play-fill"></i>This this app will help you create your own path and style, track your changes, while giving you strong theory and practical foundations.</p>
       {%endif%}
    </div>
</div>
</div>
{% include "between_app/about_texts.html" %}


{%endblock content%}

{% block extra_body %}
{% if user.is_authenticated == False %}
<div class="alert alert-info display-5 mx-3 mt-3" role="alert">
    Sign up for free to get full access. <a class="alert-link" href="{% url 'account_signup' %}">Sign up here.</a>
  </div>
{% else %}
<div class="alert alert-secondary display-5 mx-3 mt-3" role="alert">
    Update your community profile. <a class="alert-link" href="{% url 'accounts:edit_profile' %}">Update here.</a>
  </div>
{% endif %}
{% endblock extra_body %}