{% extends 'between_app/_base.html' %}
{%block title%} Style Detail {%endblock title %}
{% block content %}
<h1>Therapist Style</h1>

<h3>Scores</h3>
<p>A space to think about your therapeutic style.</p>


<h2>Profile: </h2>
<p>Position: {{style_detail.calProfile.main_position}}</p>
    {% if style_detail.calProfile.main_position == 'compassionate' %}
        <p>Compassionate therapists are usually close and quiet</p>
    {% elif style_detail.calProfile.main_position == 'playful' %}
        <p>Playful Therapist are usually proposing new things to try</p>
    {% elif style_detail.calProfile.main_position == 'inquisitive' %}
        <p>inquisitive therapist try to find clues and discover secrets</p>
    {% elif style_detail.calProfile.main_position == 'changer' %}
        <p>Changer therapist have a tookbox of activities to challenge your ways</p>            
    {% else %}
        <p>Function error </p>
    {% endif %}
<p>Path: {{style_detail.calProfile.main_path}}</p>
    {% if style_detail.calProfile.main_path == 'dreamer' %}
    <p>Dreamer are usually ethereal and like metaphors</p>
    {% elif style_detail.calProfile.main_path == 'sage' %}
    <p>Sage therapist like abstractions and to know every detail</p>
    {% else %}
    <p>Need to write </p>
    {% endif %}
<p>Relationship with tradition: {{style_detail.calProfile.main_tradition}}</p>

</br>


<p>Compassionate:  {{style_detail.calPosition.compassionate}}</p>

<p>Position: {{style_detail.calPosition}}</p>
<p>Path: {{style_detail.calPath}}</p>
<p>Relationship with tradition: {{style_detail.calTradition}}</p>

</br>

<p>Follower: {{style_detail.follower_1}}</p>
<p>Propositive: {{style_detail.propositive_1}}</p>
<p>Challenger: {{style_detail.challenger_1}}</p>
<p>Acceptant: {{style_detail.acceptant_1}}</p>
<p>Intensive: {{style_detail.intensive_1}}</p>
<p>Extensive: {{style_detail.extensive_1}}</p>
<p>Divider: {{style_detail.divider_1}}</p>
<p>Containment: {{style_detail.containment_1}}</p>
<p>Becoming: {{style_detail.becoming_1}}</p>
<p>Development: {{style_detail.development_1}}</p>
<p>Individuation: {{style_detail.individuation_1}}</p>
<p>Belonging: {{style_detail.belonging_1}}</p>



{% endblock content%}
