{% extends 'between_app/_base.html' %}
{%block title%}CreaTest Home{%endblock title %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "between_app/css/image.css" %}">

<!--Title card-->
<div class="card mb-3 border-primary border-3 soft-green">
    <div class="card-body">
<h2 class="card-title">Therapist Style</h2>
<p class='card-text'>Here you can see your therapeutic style</p>
    </div></div>


    {% if user.is_authenticated %}
 <!--Personal Profile-->   
<div class="card mb-3 border-primary border-1 soft-blue">
      <div class="card-body">
  <h2 class="card-title">Profile:</h2>
  <p class="card-text">Therapeutic Profiles is a project to help therapist and clients to find their unique needs, having names to organise the complexities of human beings.</p>
  <p class="card-text">They will help you to recognise your unique style and positions towards helping others and yourself.</p>
  <a class="badge bg-primary p-2 m-2" href={% url 'between_app:profile_test' %}>Take the test </a></br>

  {% if cont_position.group %}
  <H1>Your main therapeutic Position</H1>
      <div class="card bg-active mb-3">
      <div class="card-body soft-green">
      <h2 class="card-title">{{position.group|title}}</h2>
      <div class='row'>
        <div class='col'>
          <image src="{% static cont_position.image %}" class='img-thumbnail border-2 border-primary rounded-circle' style='max-height:6em;'>
          <p class="card-text posText">{{cont_position.group|title}}</p>
          </div>
      <div class='col'>
        <image src="{% static cont_path.image %}" class='img-thumbnail border-2 border-primary rounded-circle' style='max-height:6em;'>
        <p class="card-text posText">{{cont_path.group|title}}</p>
      </div>

      <div class='col'>
        <image src="{% static cont_tradition.image %}" class='img-thumbnail border-2 border-primary rounded-circle' style='max-height:6em;'>
      <p class="card-text posText">{{cont_tradition.group|title}}</p>
    </div></div>
{% else %}
    <p>Here you will see your results</p>
  </ul>
  {% endif%}

  <a class="badge bg-primary p-2 m-2" href={% url 'pages:index' %}>Read the theory </a>
  <a class="badge bg-primary p-2 m-2" href={% url 'between_app:profiles_list' %}>See your tests </a></br>

  </div>
  </div>
</div></div>



<!-- Components bar section -->
<div class="card mb-3 border-primary border-1 soft-blue"> 
    <div class="card-body">
    
      <h2 class='card-title'>Components</h2>
      <p clas='card-text'>Here you can use your graph to see what are your strong areas, and which ones you may want to develop.</p>
      <p clas='card-text'>When constructing your profile for your clients  to see, its good to show what makes you unique, so clients with similar or complementary interest may reach to you.</p>
      <p clas='card-text'>Similarity is usually good when starting or when we are more fragile. On the other hand, complements (therapist having areas clients miss or dislike) are better for growth, and to challenge oneself.</p>
      
      <!--list button-->
      <a class="badge bg-primary p-2 m-2" href={% url 'between_app:components_list' %}>Your tests </a>
      <a class="badge bg-primary p-2 m-2" href={% url 'between_app:components_test' %}>Components test</a>

  <!--Components results in bars-->
  {% if components.results.subjective  %}

  <!--Subjective loop-->
  <h3>Subjective</h3>
  {% for name,result in components.results.subjective.items %}
    <div class="progress">
      <div class="progress-bar progress-bar-striped {{format.0}}" role="progressbar" style="width: {{result}}%" aria-valuenow="{{result}}" aria-valuemin="0" aria-valuemax="100">{{name}}-{{result}}%</div>
    </div>
  {% endfor %}
  <!--end of subjective section-->

  <!--Extended Awareness section loop-->
  <h3>Extended Awareness</h3>
    {% for name,result in components.results.extended.items %}
    <div class="progress">
      <div class="progress-bar progress-bar-striped {{format.1}}" role="progressbar" style="width: {{result}}%" aria-valuenow="{{result}}" aria-valuemin="0" aria-valuemax="100">{{name}}-{{result}}%</div>
    </div>
  {% endfor %}

  <!--Context section loop-->
  <h3>Context</h3>
    {% for name,result in components.results.context.items %}
    <div class="progress">
      <div class="progress-bar progress-bar-striped {{format.2}}" role="progressbar" style="width: {{result}}%" aria-valuenow="{{result}}" aria-valuemin="0" aria-valuemax="100">{{name}}-{{result}}%</div>
    </div>
  {% endfor %}

  <!--Culture section loop-->
  <h3>Culture</h3>
    {% for name,result in components.results.culture.items %}
    <div class="progress">
      <div class="progress-bar progress-bar-striped {{format.3}}" role="progressbar" style="width: {{result}}%" aria-valuenow="{{result}}" aria-valuemin="0" aria-valuemax="100">{{name}}-{{result}}%</div>
    </div>
  {% endfor %}

  <!--Identity section loop-->
  <h3>Identity</h3>
    {% for name,result in components.results.identity.items %}
    <div class="progress">
      <div class="progress-bar progress-bar-striped {{format.4}}" role="progressbar" style="width: {{result}}%" aria-valuenow="{{result}}" aria-valuemin="0" aria-valuemax="100">{{name}}-{{result}}%</div>
    </div>
  {% endfor %}

  {% else %}
    <p>Here you will see your results</p>
   {% endif%}
  </div></div>
  <!--end of Components-->

<!--Big traditions Section-->
<div class="card mb-3 border-primary border-1 soft-blue">
  <div class="card-body">
  <h2 class="card-title">Big Traditions</h2>
  <p class="card-text">These are the main philosophical traditions behind the psychotherapy. We find sometimes mixes of them, and sub-groups, but they define clear paths relevant today.</p>
  <p class="card-text">This test will help you to recognise your afiliation with some reality assumptions.</p>
  <a class="badge bg-primary p-2 m-2" href={% url 'between_app:traditions_list' %}>Your tests </a>
  <a class="badge bg-primary p-2 m-2" href={% url 'between_app:traditions_test' %}>Big traditions test </a>
  {% if BigTrad.results %}
  <!--Big traditions results loop-->
  {% for name,result in BigTrad.results.items %}
    <div class="progress">
      <div class="progress-bar {% cycle format.0 format.1 format.2 format.3 format.4 format.5 format.6 format.7%}" role="progressbar" style="width: {{result}}%" aria-valuenow="{{result}}" aria-valuemin="1" aria-valuemax="100">{{name}}-{{result}}%</div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>Here you will see your results</p>
 {% endif%}
  </div><!--end traditions card-->

</br></br>




{% else %}
<!--no signed up card-->
<div class="card mb-3 border-primary border-3 soft-green">
    <div class="card-body">
<h2 class="card-title">Take the Personal Style test</h2>
<p class='card-text'>Please login to see save and access your results. There are also another three tests and more resources.</p>
<a class="badge bg-primary p-2 m-2" href={% url 'between_app:profile_test' %}>Take the Profile test </a></br>

    </div></div>
{% endif %}
  {% endblock content%}
