{% extends 'between_app/_base.html' %}
{% block title%}{{creations.title}}{%endblock title%}

{% block page_header %}{{creations.title}}{% endblock page_header%}

{% block content %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{creations.title}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{creations.date_added|date}}</h6>
      <Goal class="card-text">Goal of the exploration: {{creations.goal}} </P>
      <My class="card-text">My sensations: {{creations.sensation}} </p>
      <My class="card-text">My connections: {{creations.connection}}</p>
      <p class="card-text">My metaphoric space: {{creations.metaphore}}  </p>
      <p class="card-text">My Concepts: {{creations.concepts}}</p>
      <p class="card-text">My craft idea: {{creations.craft}}</p>
      <a href="{% url 'learning_log:creations_by_date' %}" class="card-link">Back to Creations</a>
      <a href="{% url 'learning_log:index' %}" class="card-link">Back to Journal's home</a>
    </div>
  </div>




{%endblock content%}
