
{% extends 'between_app/_base.html' %}

{% block content %}

<p>Creations by date</p>

<p>
  <a href="{%url 'learning_logs:new_creation'%}">Add new question reflexion</a>
</p>

<ul class='list-group'>
  {% for creation in creations%}
    <li class='list-group-item'>
      <b>{{creation.title}}</b> {{creation.date_added|date:'M d, Y'}} </p>
      <p>{{creation.goal}}</p>
      <p><a href="{%url 'learning_logs:creation_item' creation.pk %}">
        See Entry</a></p>
    </li>

    {% empty %}
    <li>There are no entries for this topic yet. </li>
  </ul>

  <a href="{% url 'learning_logs:index' %}" class="card-link">Back to index</a>
<a href="{% url 'learning_logs:index' %}" class="card-link">Back to Journaling</a>

</br></br>
  {% endfor %}







{% endblock content %}
