{% extends '_base.html' %}


{% block content %}

    <h1>Companion App</h1>
    <p>An app to guide you through your therapeutic journey</p>

    <h2>1- Start a path</h2>
    <p>You can start many paths, in different times of your life.</p>
    <h2>2- Find your needs</h2>
    <p>Use the profile test to guide you</p>
    <h2>3- What to search for</h2>
    <p>Practical points from your test</p>
    <h2>4- Asses Therapeutic Alliance</h2>
    <p>The best predictor you a good process is a good connection that promotes the work.</p>
    <h2>5- Activate the process: </h2>
    <h3>5.1- Cards </h3>
    <p>Use the cards to work between sessions, increasing your awareness and process.</p>
    <h3>5.2- Journal </h3>
    <p>keep track of your sessions and reflections you are having. Writing activates extra processing.</p>
    <h2>6- Work through ruptures.</h2>
    <p>Therapy that goes deep may have moments of rupture, that when worked with your therapy,
    can help deeper understanding and healing.</p>
    <h2>7- Prepare for an ending.</h2>
    <p>When therapy goes well, the ending is planned and help you to understand what has happened
    and to have a healthy ending of a deep relationshp.</p>


{% endblock content %}