{% extends '_base.html' %}


{% block content %}

    <h1>Companion App</h1>
    <p>An app to guide you through your therapeutic journey</p>

<ol class="list-group list-group-numbered">
    <li class="list-group-item list-group-item-action list-group-item-primary">
        <b>Start a path</b>
    <p>You can start many paths, in different times of your life.</p></li>
    <li class="list-group-item list-group-item-action list-group-item-primary">
        <b>Find your needs</b>
    <p>Use the profile test to guide you</p></li>
    <li class="list-group-item list-group-item-action list-group-item-primary">
        <b>What to search for</b>
    <p>Practical points from your test</p></li>
    <li class="list-group-item list-group-item-action list-group-item-primary">
        <b>Asses Therapeutic Alliance</b>
    <p>The best predictor you a good process is a good connection that promotes the work.</p></li>
    <li class="list-group-item list-group-item-action list-group-item-primary">
        <b>Activate the process:</b></li>
    <ol class="list-group list-group-numbered">
    <li class="list-group-item list-group-item-action list-group-item-primary">
        <b>Cards</b>
    <p>Use the cards to work between sessions, increasing your awareness and process.</p></li>
    <li class="list-group-item list-group-item-action list-group-item-primary">
        <b>Journal</b>
    <p>keep track of your sessions and reflections you are having. Writing activates extra processing.</p></li>
    <li class="list-group-item list-group-item-action list-group-item-primary">
        <b>Work through ruptures.</b>
    <p>Therapy that goes deep may have moments of rupture, that when worked with your therapy,
    can help deeper understanding and healing.</p></li>
    </ol>
    <li class="list-group-item list-group-item-action list-group-item-primary">
        <b>Prepare for an ending.</b>
    <p>When therapy goes well, the ending is planned and help you to understand what has happened
    and to have a healthy ending of a deep relationshp.</p></li>
</ol>


{% endblock content %}