{% extends 'between_app/_base.html' %}

{%block content%}
{% load static %}
{% load django_bootstrap5 %}
  <p> Add a new content </p>

  <div id='questionWidget'><p id='text'>Get a question bellow</p>
    <button id='getQuestion'>Get quetion</button>
  </div>
  <form action="{% url 'learning_logs:afterQuestions' %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type='submit' content='Submit Profile' %}
  </form>
  <script src="{% static 'learning_logs/js/question-widget.js' %}"></script>
{% endblock content %}