{% extends 'between_app/_base.html' %}

{% block content %}
<h1>Learning Log</h1>

<p>Learning Log helps you keep track of your learning, for any topic you are interested in.</p>

<a href={% url 'learning_logs:afterQuestions' %}>After session questions</a>

</br></br>


<div class="card mb-3 bg-light">
    <div class="card-body">

<h2 class='card-title'>Topics</h2>

<ul class='list-group'>
  {% for topic in topics %}
    <li class='list-group-item'> 
        <a href="{% url 'learning_logs:topic' topic.id %}">
        {{topic.text}} </a></li>
        </li>
  {% empty %}
    <li class='list-group-item'> No topics have been added yet </li>
  {% endfor %}

</ul>
</br>

<a href="{% url 'learning_logs:new_topic'%}">Add a new topic</a>

</div>
</div>

{% endblock content%}
