

.soft-blue {
    background-color: rgb(142, 182, 192);
}
.soft-green {
    background-color: rgb(180, 209, 200);
}

.warm-white {
    background-color: rgb(238, 241, 232);
}

.cold-white{
    background-color: rgb(236, 242, 244);
}
.soft-orange {
    background-color: rgb(252, 228, 187);
}


.posImage {
    max-height: 15em;
    max-width: fit-content;
    float: left;
    position:relative;
    right:0;
    margin-right:1em;
}

.posText {
    position:relative;
}
