{% extends 'blog_app/base.html' %}

{% block page_header %}
{% endblock page_header %}



{%block content%}

<div class='card mb-3>'>
    <div class='card-body'>
<h1 class='class-header'>{{blog.name|title}}</h1>
<p class='card-subtitle mb-2 text-muted'>{{blog.date_made}}</p>
<p calss='card-subtitle mb-2 text-muted'>{{blog.author|title}}</p>
<p class='card-text'>{{blog.text}}</p>


{% if user.is_authenticated %}
<p><a class='card-link' href="{% url 'blog_app:edit_blog' blog.id %}">Edit Tecnique</a></p>
{% endif %}
<p><a class='card-link' href="{%url 'blog_app:blog_list' %}">Back to Tecnique list</a></p>

</div>
</div>
{%endblock content%}