{% extends 'between_app/_base.html' %}
{%block title%}Profile Tests List{%endblock title %}

{% block content %}

<div class="card mt-3 mb-4">

    <div class="card-header display-6 bg-primary-subtle">Tests List</div>

    <div class"card-body">

        <ul class='list-group bg-light'>

            {%for item in style_list %}
                <li class='list-group-item bg-light-subtle'>
                <a href={% url 'between_app:results' item.pk %}
                >{{item.user}}'s Therapist Profile: {{item.updated_at|date:'d,m,Y'}}</a>
                Explore your detailed scores <a href={% url 'between_app:style_detail' item.pk %}>here</li>
            {% empty %}
            <li> No tests to list yet.</li>
                    {% endfor%}
            </ul>

</div>
</div>

{% endblock content%}
