
{% extends BASE_TEMPLATE %}
{% load django_bootstrap5 %}
{% block title %}Profiles Test{% endblock title%}
{% load url_utils %}

{%block content%}

  <div class="card mt-0 mb-4 cold-white">

    <div class="card-header display-6 soft-blue border-primary p-3">Therapeutic Profiles</div>
    <h3 class="display-6 mx-auto text-center p-4">
      {% if therapist %}
        What therapist I am?
      {% else %}
        What therapist I want?
      {% endif %}
    </h3>

    <form
      {% if therapist %}
        action="{% url 'between_app:profile_test' %}"
      {% else %}
        action="{% url 'between_app:profile_test_client' %}"
      {% endif %}
      method='post'
      class="mx-auto"
      _="init set $position to 1
         log $position
         end"
    >
      {% csrf_token %}
      {% for field in form %}

        <div class="card my-3 bg-primary-subtle text-primary aling-items-center"
             style="width: 75vw;height: 13rem;"
             _="init
                hide me
                end
                when $position changes
                if it is {{forloop.counter}}
                show me
                else
                hide me
                end">
          <div class="card-body">{{forloop.counter}}.
            {% bootstrap_field field %}
          </div>
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary float-end"
              _="init
                 hide me
                 end
                 when $position changes
                 if it is 12
                 show me
                 else
                 hide me
                 end">Submit</button>

    </form>

    <div class="d-flex justify-content-center my-3">
      <button class="btn btn-primary float-start"
              type="button"
              _="on click decrement $position
                 if $position < 1
                 set $position to 1
                 log $position
                 end">Back</button>

      <span class="mx-3" _="when $position changes
                            put $position + '/12' into me
                           ">1/12</span>
      <button class="btn btn-primary float-start"
              type="button"
              _="on click increment $position
                 if $position > 12
                 set $position to 12
                 log $position
                 end">Next</button>
    </div>
  </div>
  </div>
{% endblock content %}
