
{% extends BASE_TEMPLATE %}
{% load django_bootstrap5 %}
{% block title %}Profiles Test{% endblock title%}
{% load url_utils %}

{%block content%}

  <div class="card my-4 cold-white">

    <div class="card-header display-6 bg-secondary-subtle border-primary p-3">Therapeutic Profiles</div>
    <h4 class="mx-auto my-4 text-center ">
      {% if therapist %}
        What kind of therapist I am?
      {% else %}
        What kind therapist I look for?
      {% endif %}
    </h4>

    <form
      {% if therapist %}
        action="{% url 'between_app:profile_test' %}"
      {% else %}
        action="{% url 'between_app:profile_test_client' %}"
      {% endif %}
      method='post'
      class="mx-auto"
      _="init set $position to 1
         log $position
         end
         on change
         set $value to target.value
         log $value
         end"
    >
      {% csrf_token %}
      {% for field in form %}

        <div class="card my-3 mx-auto  text-primary aling-items-center col-12 col-md-10"
             id="card-{{forloop.counter}}"
             style="width: 75vw;"
             _="init
                hide me
                end
                when $position changes
                if it is {{forloop.counter}}
                show me
                else
                hide me
                end">
          <div class="card-body">{{forloop.counter}}.
            {% bootstrap_field field %}
          </div>
          <div class=" mx-auto my-2" style="width: 4em;">
          </div>
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary float-end"
              _="init
                 hide me
                 end
                 when $position changes
                 if it is 12
                 show me
                 else
                 hide me
                 end">Submit</button>

    </form>

    <p class="mx-auto text-primary"
       _="when $value changes
          if $value is between 1 and 40
          set :d to 'It doesn\'t apply'
          else
          if $value is between 41 and 69
          set :d to 'Maybe it applies'
          else
          set :d to 'Yes it applies'
          end
          end
          put :d into me
          end">Maybe it applies
    </p>
    <div class="d-flex justify-content-center my-3">
      <button class="btn btn-primary float-start"
              type="button"
              _="on click decrement $position
                 if $position < 1
                 set $position to 1
                 log $position
                 end">Back</button>

      <span class="mx-3" _="when $position changes
                            put $position + '/12' into me
                           ">1/12</span>
      <button class="btn btn-primary float-start"
              type="button"
              _="on click increment $position
                 if $position > 12
                 set $position to 12
                 log $position
                 end">Next</button>
    </div>
  </div>
  </div>
{% endblock content %}
