

.soft-blue {
    background-color: rgb(142, 182, 192);
}
.soft-green {
    background-color: rgb(180, 209, 200);
}

.warm-white {
    background-color: rgb(238, 241, 232);
}


.soft-orange {
    background-color: rgb(252, 228, 187);
}
