{% extends 'cover.html' %}
{% load static %}
{%block title%}CreaTherapy{%endblock title%}
{% load django_bootstrap5%}

{%block page_header%}{%endblock page_header%}

{%block content%}


  <div class="card my-3 shadow border-primary border-5 col-12 col-lg-10 mx-auto" id="intro-card">
    <div class="card-body cold-white rounded" id="welcomeText">
      <div class="col-lg-12 mx-auto">
        <!-- Welcome text -->
        <h1 class="card-titl text-center">A compatible model</h1>
        <p class="card-text text-center fs-5">
          CreaTherapy will help you follow your intuition and organise your learning.</p>
        <p class="small text-center"> Read the theory in <a class="link-secondary" href="theory.crea-therapy.com/" target="_blank">CreaTheory.</a></p>
      </div class"wrapper">
    </div>
  </div>
  </div>
  {% include "about_texts.html" %}


{%endblock content%}

