{% extends 'between_app/_base.html' %}

{% block content %}

<div class="card mt-3 mb-3 p-3 cold-white">
  <div class="card-header soft-blue display-6"><i class="bi bi-brilliance"></i>
  Assemble list (by title):
  </div>
  <div class="card-body"><small>
    <a href="{%url 'dive_app:new_assemble'%}" 
    class="card-link">New assemble</a>
    <a href="{%url 'dive_app:assembles_by_date'%}"
    class="card-link">By Date</a></small>
  
  <ul class="list-group mb-2 mt-2">
    {% for answer in answers%}
    <li class="list-group-item"><a href="{%url 'dive_app:assemble_item' answer.pk %}">
      {{answer.title|title}}</a> <small>- {{answer.date_added|date:'M d,Y H:i'}}</small>
    </li>
      {% empty %}
      <li>There are no entries for this topic yet. </li>
      {% endfor %}
    </ul>

  <a href="{% url 'dive_app:assembles_by_date' %}" class="card-link">Back to assemble list</a>
  <a href="{% url 'dive_app:index' %}" class="card-link">Back to Journaling</a>

  </div> </div>
{% endblock content %}
