{% extends 'between_app/_base.html' %}

{% block title%}
Assemble Model Entry
{% endblock title%}

{%block content%}
{% load django_bootstrap5 %}


<div class="card cold-white mt-3 mb-3">
  <div class="card-header soft-blue">
  <div class="card-title display-6">
    <i class="bi bi-brilliance"></i></i> Assemble Model: Exercise</div>
</div>
  <div class="card-body">
<p class="card-title">This guided reflection aims to help you create your own models and align theory and practice with your own tendencies.
</p>
 <p>Do not try to do it like someone else, allow yourself to be bold and do many tries over time until you feel like it is yours to use.</p>

<h5><i class="bi bi-brilliance"></i></i> Dive into your own Assemblage:</h5>

<div class="card-body">
{% if user.is_authenticated %}

  <form action="{% url 'dive_app:new_assemble' %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type='submit' content='Submit new Assemble' %}
  </form>
  {% else %}
  <div class="alert alert-success" role="alert">
    Please Sign In before anwsering, so we can save your results <a href="{% url 'account_login' %}">Sign In</a>
  </div>
  {% endif %}
</div>
  
  <a href="{% url 'dive_app:assemble_by_date' %}" class="card-link">Back to Assemble list</a>
  <a href="{% url 'dive_app:index' %}" class="card-link">Back to Diver</a>

</br></br>

  {% endblock content %}

