{% extends 'between_app/_base.html' %}


{%block title%}Creation Process{%endblock title%}


{%block page_header%}{%endblock page_header%}
{%block content%}
{% load static %}
<!-- side table of contents -->
<div class="row">
    <div class="col-2">
<nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
    <a class="navbar-brand" href="#">Content</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link" href="#item-1">Introduction</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ms-3 my-1" href="#item-1-1">Creation Circle</a>
        <a class="nav-link ms-3 my-1" href="#item-1-2">Creating your approach</a>
      </nav>
      <a class="nav-link" href="#item-2">Combining the Model</a>
      <a class="nav-link" href="#item-3">Item 3</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
        <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
      </nav>
    </nav>
  </nav>
</div>
 <!-- Content from here -->   
 <div class="col-8">


    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">

        <h1 class='display bg display-5 mb-4'>CreaTherapy: Creation</h1>
    
        <h1 id="item-1">Introduction</h1>
        <p>Have you ever worndered what it means to create?</p>
        <p>Through my studies I developed a model that works well for me and many others, that strats by accepting creation is a tension and a paradox</p>
        <p>This tension implies to accept as well that we can move through positions and perspectives, this flexibility and the contradictions it generates is what makes something 'new' and 'original' to happen.</p>
        
    
        <h3 id="item-1-1">Eagle's Eye</h3>
        <p>We can understand a creative process by working four areas</p>
        <ul>
          <li>Body sensations: Connecting with who we are right now, in our bodies and perception</li>
          <li>Our connections and meanunful people: feeling who matters to us, and for whom we are working.</li>
          <li>Our dreams and deep desires: relaxing into a dreamlike, relaxed mental state, allowing associations and images to tell us what moves inside.</li>
          <li>Our ideas, concepts and clear thoughts: as a last step our mental processes clarify what we have found and link it with concepts and theories.</li>
        </ul>
        
        <image class="rounded w-75 mb-2" src="{% static 'pages/images/creation.png' %}" alt='Image showing the four circles in a Venn diagram'>
        
        <p>As you can see the circles overlap, and share a centre, that centre of paradoxical tension is what we are aiming to achieve: a place where the different parts come together.</p>
        <p>As we practice these steps it becomes more and more fluid, and what we make more coherent. When creating a theory/practice or learning one, it is useful to use this circle to make your own connections and interpretations.</p>
        <p>A bigger picture comes bellow with the process I call 'Intra-gration'</p>
        
        <image class="rounded w-75 mb-2" src="{% static 'pages/images/intra-gration.png' %}" alt='Image showing the four new circles in a Venn diagram, now with I,we,it,its'>
    
        </br>



        
        <h5 id="item-1-2">Creating your Approach:</h5>
        <p>Therapeutic Profiles is a project to help therapist and clients to find their unique needs, having names to organise the complexities of human beings.</p>
        <p>They aim to move between the old traditions, in a context where therapist and clients are learning from multiple points of view and mixing ideas and practices from many sources becomes the new norm.</p>
        
        
        <h4 id="item-2">Combining the tests</h4>
        <p>...</p>
        
        
        <h4 id="item-3">Item 3</h4>
        <p>...</p>
        
        <h5 id="item-3-1">Item 3-1</h5>
        <p>...</p>
        
        <h5 id="item-3-2">Item 3-2</h5>
        <p>...</p>
      </div>
    
      <a href={% url 'between_app:profile_test' %}>Take the test </a>
    
    </div>
    </div>

    {% endblock content %}