{% extends 'between_app/_base.html' %}

{% block title %}History{% endblock title %}

{% block page_header%}
<h2>History of Psychotherapy:</h2>
{% endblock page_header %}

{%block content%}



<!-- side table of contents -->
<div class="row">
    <div class="col-2">
<nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3 position-fixed">
    <a class="navbar-brand" href="#">Content</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link" href="#item-1">Introduction</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ms-3 my-1" href="#item-1-1">Eagle's eye</a>
        <a class="nav-link ms-3 my-1" href="#item-1-2">Goals</a>
      </nav>
      <a class="nav-link" href="#item-2">Item 2</a>
      <a class="nav-link" href="#item-3">Item 3</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
        <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
      </nav>
    </nav>
  </nav>
</div>
 <!-- Content from here -->   
 <div class="col-8">

  <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">

    <h1 class='display bg display-5 mb-4'>A Breif History of Theraputic Perspectives</h1>

    <h1 id="item-1">Introduction</h1>
    <p>Through the twentieth century we saw the emergence of psychotherapy, emerging from different traditions of thought.</p>
    <p>In this article I aim to give an overall view of the changes of perspective, naming only a few core authors and concepts, to give an overview.</p>
    <p>As we approach therapy, we may find ourselves thinking similarly or quite differently than some of these approaches. Use this space to think about the diversity of visions and interventions.</p>

    <h2 id="item-2">First Traditions: One point of view</h2>
    <p>We are at the beginning of the twentieth century and psychology has just started to become an idea, a new science that can be studied.</p>
    <p>In psychiatry is hypnosis the predominant style, and they are starting to describe the phenomenology of different 'abnormalities', that can only be accounted for by the mind.</p>
    <p>Freud made a few risky and original moves while working with a pathology known as Hysteria. Women have been having this problem, that encompasses strange body positions, numbed limbs and strange behavior.</p>
    <p>One of the current treatments is to use what we now know as a 'dildo'(this is how it was created), as doctors discovered touching their client's genitals gave them temporal relief.</p>
    <p> Two main paradigms are emerging: the subjective and the objective paradigm. Some authors move between them, like Freud who first starts trying to be scientific, to resign the efforts later.</p>
    <p>I put this group under the idea of One point of view because they focus mostly on the belief that one can reach knowledge from their own experience, and have a direct understanding of others.</p>



    <h2 id="item-2-1">Subjectiv:</h2>
    <p>The subjective group believes in the human subject as a center of knowledge and reality. The division with the positivistic group seems to have an origin in Kant's distinctions.</p>
    <p>Kant proposed that reality had two sides, a noumenon and a phenomenon. The noumenon was the thing in itself, while the phenomenon was the experience we could get from it.</p>
    <p>This divided research into two groups, the sciences of nature, and the sciences of the spirit, as still are divided in Germany. Positivism denied this distinction and approached reality straight.</p>
    <p>Subjectivism followed Kant's distinction and studied the phenomenon, the human perception of reality. They tried to understand the unique qualities of human suffering, learning, perception and reality-making.</p>    
    <p></p>


    <h2 id="item-2-1-1">Psychoanalysis: Freud</h2>
    <p>Freud can be described as a pioneer, who never stopped wondering and crafting his ideas, as he worked with new patients. He wrote in a way that was engaging, a bit like a mystery, and people around the world felt captivated by his stories.</p>
    <p>We can see some main steps in his thinking: from a hydraulic machine metaphor to an object system, to the life and death drives. These steps changed deeply the assumptions and techniques of psychoanalysis and also became a template for other thinkers, who felt encouraged to keep offering new ideas.</p>
    <p>Soon after important followers appeared, who ended up fighting with Freud due to differences in the theory. Jung is the most prominent of them, but also relevant is Adler.</p>
    <p>Freud's ideas moved around the idea of the repressed. At a developmental crisis called Oedipus, we would repress our instincts, to accept the culture. Repression would make instincts change form, by the defense mechanisms.</p>
    <p>Psychoanalysis tries to interpret the manifestations of the unconscious, distorted messages of what we feel. Some of the most important areas to explore are dreams and transference (the relationship patients try to reproduce in session).</p>

    <h3 id="item-2-1-2">Person Centred: Rogers</h3>
    <p>Rogers came from a different paradigm. He was working as a counselor for university students. He was at the beginning of a scientific endeavor, so he listened to recordings of multiple therapists and categorized them by how effective they were.</p>
    <p>Through this methodic research he proposed the necessary and sufficient principles for therapy.</p>
    <ol>
        <li>Two people in psychological contact,</li>
        <li>Client being incongruent, vulnerable or anxious,</li>
        <li>the therapists being congruent,</li>
        <li>having unconditional positive regard (UPR) for the client,</li>
        <li>experiencing an empathetic understanding of the client's frame of reference,</li>
        <li>the therapist being able to communicate the UPR and empathy for the client.</li>
    </ol>
    <p>I have written the six because it is common to see them reduced to only three. I particularly find the first one, keeping psychological contact, to maybe the most important thing to keep in mind.</p>
    <p>In a way, this is the first attempt to propose 'common factors', a project that will emerge later in the century. Rogers created a school and trained counselors to be able to provide these conditions.</p>
    <p>To this day some people differentiate between psychotherapists and counselors, some like the difference and some reject it because it tends to put counselors at a lower level.</p>
    <p>Rogers also partnered with a philosopher, Genlin, and developed a connection between person-centered phenomenology and existential philosophy, marking the path of this tradition forward.</p>


    <h3 id="item-2-1-3">Phenomenology: Husserl and Heidegger</h3>
    <p>Phenomenology was proposed by Husserl as coming back to the things themselves. He proposed we have become detached from a direct exploration of experience and the world, giving privilege to numbers and concepts.</p>
    <p>This school of philosophy starts to study life as it is directly lived. Husserl thought he could achieve closer knowledge by bracketing his assumptions of the topic studies, known as epoche.</p>
    <p>Some of his followers tried to incorporate areas of life like angst, which derived from existential philosophy, with the work of Heidegger and Sartre. Another path that starts here, by a disciple of Heidegger is Hermeneutics.</p>
    <p>Studies of time have been a fascination of phenomenologists. Husserl focussed on the differences between mechanical and human time. Heidegger tried to explore a more day-to-day phenomenon, our angst towards death.</p>
    <p>Heidegger's work is still relevant for many therapeutic thinkers. He proposes that we are-there, and he calls us Dasein for that reason, that we are always being towards something. He also states death is the only certain possibility, and therefore we are always towards death.</p>
    <p>His thoughts on authenticity, as an acknowledgment of our fragile existence that allows us to make decisions as if we may die soon, has inspired many therapists (famously Yalom).</p>

    <h3 id="item-2-1-4">Hermeneutics: Gadamer</h3>
    <p>Hermeneutics emerges from the work of Gadamer, as he brought back an old technique employed to understand cryptic texts. Hermeneutic had been a way to study text like the Bible, Coran, or Tora, by reading and re-reading paragraphs and annotating interpretations</p>
    <p>He proposed that to understand human productions and experiences we need to come back to the source and keep interpreting, as we gain more human insight. I say human because the idea is not to create an abstract model, but to relate to a living experience of a diverse humanity.</p>
    <p>It has been considered a crucial referent for practices like psychoanalysis, as it follows similar principles of interpretation to deepen understanding.</p>
    <p>One of the most memorable concepts is the 'horizon of meanings'. When we try to understand another human, we face a horizon type of phenomenon. We seem to understand first some meanings, and we feel we get closer.</p>
    <p>As we approach the point of understanding something happens, and we realize that there is more land ahead like when climbing a hill and realizing there are plenty more hills ahead. As we keep going forward, we see the horizon moving.</p>
    <p>We could see therapy as a space where we move our horizons of meaning and understanding, sometimes we get closer and then we may feel there is much more to understand.</p>


    <h3 id="item-2-1-5">Constructivism:</h3>
    <p>I am going to position Constructivism here, even though it emerged later in the century. I place it here because it matches the way of seeing this philosopher.</p>
    <p>Contructivism is the idea that we construct reality as we engage with it. For some, it is more individual, and for others more attached to social processes, called 'socio constructionism'.</p>
    <p>We can find people who are more hard, or soft in this approach, but it tends to encompass a group of thinkers who do not believe in a concrete reality to find out there.</p>
    <p>Some versions are closer to what we will see later called 'participatory', but at this stage, it contrasts with the positivistic group, who believe we can access reality as it is, directly through experience.</p>

{% endblock content%}