{% extends 'between_app/_base.html' %}
<!--Step to separate techniques by component-->
{% block title %}Components list{% endblock title %}


{%block content%}
<!--main card-->
<div class="card my-3 pb-2 border border-primary mb-5">
        <!-- card header -->
        <div class="card-header bg-primary-subtle border border-primary border-3">
                <div class="card-title display-6">Components List:</div>
                <p class="card-text">Explore Techniques written by others and share yours.</p>

                <div
                        class="alert alert-info"
                        role="alert"
                >
                        <strong>Sign in</strong> to see the techniques
                </div>
                
<a class="card-link" href="{% url 'techniques_app:techniques_long_community'%}">All Techniques</a>
<a class="card-link" href="{% url 'techniques_app:index'%}">My Repository</a>
        </div>

        <div class="card-body">
                
<!--Subjective component card-->
<div class="card mb-2">
        <div class="card-header soft-green">
 <h3 class='card-title '>Subjective</h3>
 </div>
        <ul class='list-group'>
        {%for subj in subjective %}
                <li class='list-group-item boder-1'><a class='link-secondary' href="{%url 'techniques_app:techniques_short_community' subj.pk %}">{{subj.name|title}}</a>: {{subj.about}}</li>
        {%empty%}
                <li>No tecniques added yet</li>
        {%endfor%}
        </ul>
</div>

<!--Extended component-->
<div class="card mb-2">
        <div class="card-header soft-green">
                <h3 class='card-title'>Extended Awareness</h3>
        </div>
        <ul class='list-group'>
        {%for ext in extended %}
                <li class='list-group-item boder-1'><a class='link-secondary' href="{%url 'techniques_app:techniques_short_community' ext.pk %}">{{ext.name|title}}</a>: {{ext.about}}</li>
        {%empty%}
                <li>No tecniques added yet</li>
        {%endfor%}
        </ul>
</div>
<!--culture component-->
<div class="card mb-2">
        <div class="card-header soft-green">
                <h3 class='card-title'>Culture</h3>
        </div>
        <ul class='list-group'>
        {%for cult in culture %}
                <li class='list-group-item boder-1'><a class='link-secondary' href="{%url 'techniques_app:techniques_short_community' cult.pk %}">{{cult.name|title}}</a>: {{cult.about}}</li>
        {%empty%}
                <li>No tecniques added yet</li>
        {%endfor%}
        </ul>
</div>
<!--Identity component-->
<div class="card mb-2">
        <div class="card-header soft-green">
                <h3 class='card-title'>Identity</h3>
        </div>
        <ul class='list-group'>
        {%for id in identity %}
                <li class='list-group-item boder-1'><a class='link-secondary' href="{%url 'techniques_app:techniques_short_community' id.pk %}">{{id.name|title}}</a>: {{id.about}}</li>
        {%empty%}
                <li>No tecniques added yet</li>
        {%endfor%}
        </ul>
</div>

</div>

</div>
</br>
{%endblock content%}