{% extends 'between_app/_base.html' %}
{% block title %}Techniques{%endblock%}
{% block page_header%}
{% endblock page_header%}
{%block content%}
{% load static%}


<div class='card px-3 mt-2 mb-4 soft-orange border-3 border-primary rounded-3'  style='max-width: 1000px;'>
    <div class='container-fluid py-4'>
        <h1 class='display-5'>The Tecniques Space</h1>
        <p class='lead'>This is a space to write your own ways of working with components</p>
        <p class='card-text'>You can opt to share and see the insight of others</p>

        <a class="badge bg-primary p-2 m-2" href={% url 'techniques_app:saved_techniques' %}>My Saved Techniques </a>
        <a class="badge bg-primary p-2 m-2" href={% url 'techniques_app:components_list' %}>Comunity Techniques</a></br>
    </div>
    </div>

{% if user.is_authenticated %} 
<div class='card border-primary border-2 soft-green'>
    <h3 class='card-title ps-3'>My Techniques list</h3>
    <a class="badge bg-primary p-2 m-2" href={% url 'techniques_app:new_technique' %}>Add a new technique </a>
<ul class='list-group list-group-flush boder-bottom pb-2 mb-4'>
{%for tech in techniques %}
        <li class='list-group-item boder-1 warm-white'><a class='link-dark'href="{%url 'techniques_app:technique' tech.pk %}">{{tech|title}}</a></br>
        <p class='text-muted'>{{tech.text}}</p>
        <p class='text-muted'>{{tech.component|title}}, {{tech.date_made}}</p>
        </li>      
        {% empty %}
        <p>Still not personal techniques</p>
        {% endfor %}
{%else%}
<p>Here you will be able to see your techniques</p>

{% endif %}
</div>
{%endblock content%}