{% extends 'between_app/_base.html' %}
{% block title %}Techniques{%endblock%}
{% block page_header%}
{% endblock page_header%}
{%block content%}
{% load static%}


<div class='card px-3 mt-2 mb-4 soft-orange border-3 border-primary rounded-3'>
    <div class='container-fluid py-4'>
        <h1 class='display-5'>The Techniques Space</h1>

        <!-- Text if no permissions -->

        
        <p class='lead'>A space to save, share and learn about therapeutic techniques.</p>
        
        {% if user.is_authenticated%}
        {% if not perms.accounts.can_dive %}
           <div
               class="alert alert-warning alert-dismissible fade show"
               role="alert"
           >
               <button
                   type="button"
                   class="btn-close"
                   data-bs-dismiss="alert"
                   aria-label="Close"
               ></button>
           
               <strong>Still not a Diver?</strong> Press any section to activate a full access.
           </div>
           {% endif%}
        <a class="badge bg-primary p-3 m-2" href={% url 'techniques_app:saved_techniques' %}>My Saved</a>
        <a class="badge bg-primary p-3 m-2" href={% url 'techniques_app:components_list' %}>Comunity</a>
        {% endif%}
    </div>
    </div>

<!-- Text for signed users -->
{% if user.is_authenticated %}

<div class='card border-primary border-2 soft-green rounded pb-3'>
    <div class="card-heading bg-primary-subtle">
    <div class='card-title fs-4 mt-3 ms-3'>My Techniques list:</div>
    </div>
    <div class="card-body">
    <a class="badge bg-primary p-2 m-2" href={% url 'techniques_app:new_technique' %}>Add a new technique </a>


    <!-- List of techniques -->
<ul class='list-group list-group-flush rounded'>
{%for tech in techniques %}
        <li class='list-group-item warm-white'>
            <a class='t-burnt-yellow'href="{%url 'techniques_app:technique' tech.pk %}">{{tech|title}}</a> 
            <small>{{tech.date_made}} - {{tech.component|title}} -
            {{tech.text|truncatechars:30}}</small>
        </li>
        {% empty %}
        <li>Still not personal techniques</li>
        {% endfor %}
        </ul>

{%else%} <!-- Text for non sign users -->

<div class='card border-primary border-2 soft-green p-3'>
<div class="card-title fs-5">A list of your techniques</div>
<div class="card-title">After Signing In you will see here a list of your techniques and links to explore and save the community repository.</div>
</div>
<div class="alert alert-success mt-2" role="alert">
    Please Sign In so we can open your repository.<a href="{% url 'account_login' %}">Sign In</a>
  </div>
{% endif %}
</div></div>
{%endblock content%}