{% extends 'between_app/_base.html' %}

{% block title %}Saved Techniques {% endblock title %}


{%block content%}

<h2 class='mt-3'>Saved Techniques:</h2>

<div class='card bt-2' style="max-width: 800px;">
<ul class='list-group border-bottom pb-2 mb-4 list-group-flash'>
{%for tech in tech_saved %}
        <li class='list-group-item boder-1'><a class='link-secondary' href="{%url 'techniques_app:technique' tech.pk %}">{{tech.component|title}}</a>: {{tech.name|title}} <a href={%url 'techniques_app:delete_technique' tech.pk %}>remove</a></li>
{%empty%}
        <li>No tecniques added yet</li>
{%endfor%}
</ul>
{% if user.is_authenticated %}
    <ul>
        <li><a href="{%url 'techniques_app:techniques_long_community' %}">See more community techniques</a></li>
</ul>
{% endif %}
</div>
{%endblock content%}