{% extends 'between_app/_base.html' %}

{% block title %}Saved Techniques {% endblock title %}


{%block content%}

<div class='card mb-3 border-2 border-primary mt-3 mb-3'>
        <div class="card-header bg-primary-subtle border-bottom border-primary">
        <div class='card-title display-6'>Saved Techniques:</div>
        </div>
        <div class='card-body soft-green '>
    

<ul class='list-group border-bottom pb-2 mb-4 list-group-flash'>
{%for tech in tech_saved %}
        <li class='list-group-item boder-1'><a class='link-secondary' href="{%url 'techniques_app:technique' tech.pk %}">{{tech.component|title}}</a>: {{tech.name|title}} <a href={%url 'techniques_app:delete_saved_technique' tech.pk %}>remove</a></li>
{%empty%}
        <li>No tecniques added yet</li>
{%endfor%}
</ul>
{% if user.is_authenticated %}
 <a href="{%url 'techniques_app:techniques_long_community' %}" class='m-3 mt-1'>See more community techniques</a>
{% endif %}
</div>
</div>
{%endblock content%}