{% extends 'between_app/_base.html' %}

{% block title %}Public Techniques {% endblock title %}


{%block content%}

<h2 class='mt-3'>List of Public Techniques</h2>

{% if component %}
<h3>Component: {{component.name|title}}</h3>
{% endif%}

<div class='card' style='max-width: 800px;'>
<ul class='list-group border-bottom pb-2 mb-4 list-group-flush'>

        {%for tech in technique %}
        <li class='list-group-item boder-1'><a class='link-secondary' href="{%url 'techniques_app:technique' tech.pk %}">{{tech|title}}</a>: "{{tech.text|slice:":50"}}..."</li>
        {%empty%}
        <li>No tecniques added yet</li>
        {%endfor%}
        </ul>
{% if user.is_authenticated %}
<a class='badge bg-primary p-2 m-2 mb-5' href="{%url 'techniques_app:new_technique' %}">Add new tecnique</a>
</div>
{% endif %}
{%endblock content%}