<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%}CreaTherapy{%endblock title%}</title>

    {% load django_bootstrap5 %}
    {% load url_utils %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load allauth %}
    {% load static %}
    <link rel="stylesheet" href="{% static "between_app/css/style.css" %}" defer >

    <!--font icons bootstrap css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" defer>
<!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap&text=CreaTherapy" rel="stylesheet">

<!--favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "between_app/favicon_io/apple-touch-icon.png"%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "between_app/favicon_io/favicon-32x32.png"%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "between_app/favicon_io/favicon-16x16.png"%}">
    <link rel="manifest" href="{% static 'between_app/favicon_io/site.webmanifest' %}">

    <!--JQuery and velocity-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/2.0.6/velocity.min.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/2.0.6/velocity.ui.min.js" ></script>

    <!-- Htmx -->
    <script src="https://unpkg.com/htmx.org@2.0.4" defer ></script>

  </head>

  <body hx-boost="True" class="bg-dark">
    {% block content %}
    {% endblock content %}


  </body>

