
<div class="card position-absolute
            {% if corner == 'br' %}bottom-0 end-0{% endif %}
            {%if corner == 'bl' %}bottom-0 start-0{%endif%}
            {%if corner == 'tr' %}top-0 end-0{%endif%}
            {%if corner == 'tl' %}top-0 start-0{%endif%};
           "
     style="background-color:{{ card.bg_color }};
            height:12rem;
            border-radius:
            {% if corner == 'br' %}7{% endif %}0%
            {% if corner == 'bl' %}7{% endif %}0%
            {% if corner == 'tl' %}7{% endif %}0%
            {% if corner == 'tr' %}7{% endif %}0%
            ;
            corner-shape:bevel;
           "
     hx-get="{% url 'cards_app:game_card_type' card.pk %}"
     hx-target="#cardList"
     hx-swap="beforeend">

  {% if corner == 'tr' or corner == 'tl' %}
    <div class="card-header fw-bold">
      {{ card.name }}
    </div>
  {% endif %}

  <div class="card-body d-flex flex-column">
    <p class="fst-italic small w-50
              {% if corner == 'br' or corner == 'bl' %} mt-auto {% endif %}
              {% if corner == 'br' or corner == 'tr' %}text-end align-self-end {% else %}text-start align-self-start{% endif %}
             ">
      {{ card.description }}
    </p>
  </div>

  {% if corner == 'br' or corner == 'bl' %}
    <div class="card-footer fw-bold bottom-0">
      {{ card.name }}
    </div>
  {% endif %}
</div>

