{% extends 'cards_app/_card_base.html' %}
{% load card_tags %}


{% block content %}

  {% corner_card card=voices corner='br' %}
  {% corner_card card=questions corner='tl' %}
  {% corner_card card=needs corner='tr' %}
  {% corner_card card=actions corner='bl' %}


  <h2 class="text-light position-absolute start-50 top-0 translate-middle mt-4">Therapy Cards</h2>

  <div class="start-50 top-50 mx-auto mt-5"
  >
    <ul id="cardList" class="list-group overflow-auto"
        style="max-height:90vh;"
    >
    </ul>
  </div>

{% endblock content %}
