{% extends 'between_app/_base.html' %}
{% load django_bootstrap5 %}
{% block title%}
New Topic
{% endblock title%}

{%block content%}


<!--Topics-->
<div class="card cold-white mb-5">
  <div class="card-header soft-blue">
  <div class="card-title display-6">Learning Topics</div> <!--immediate access to create a topic-->
</div>

<div class="card-body">
  <div class="card-title fs-5">Add here a new Topic.</div>
  <p class="card-subtitle">Then you can add insights to it.</p>

  {% if user.is_authenticated %}
  <form action="{% url 'learning_logs:new_topic' %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type='submit' content='New Topic' %}
  </form>
{% else%}
<div
  class="alert alert-info"
  role="alert"
>
  <strong>Sign in</strong> To add topics
</div>

{% endif %}
  <div class="card m-2">
  {% for topic in topics %} <!-- added a list of topics to access directly-->
    <li class='list-group-item warm-white'> 
        <a class='link-secondary' href="{% url 'learning_logs:topic' topic.pk %}">
        {{topic.text}}</a>
        &nbsp; <a class='link-secondary' 
        data-bs-toggle="tooltip" data-bs-title="Add Topic"
        data-bs-custom-class="custom-tooltip"
        href="{% url 'learning_logs:new_entry' topic.pk %}">
          <i class="bi bi-plus-square-fill text-primary"></i> </a>
      </li>
  {% empty %}
    <li class='list-group-item'> No topics have been added yet </li>
  {% endfor %}
    </div>

    <a href="{% url 'learning_logs:index' %}" class="card-link">Back to Journaling</a>

</div>
</div>
</br></br>
{% endblock content %}


