{% extends '_base.html' %}
{% block title %}New Entry{%endblock title%}

{% block content%}
{% load django_bootstrap5 %}

<div class="card mt-2 mb-3 cold-white">
    <div class="card-header display-6 soft-blue">Add to '{{topic|title}}'
    </div>
    <a class="card-link ms-3" href= "{%url 'learning_logs:topic' topic.pk %}">back to topic</a>
    <div class="card-body">
    <p class="fs-5">Add New Entry:</p>
<form action="{%url 'learning_logs:new_entry' topic.pk %}" method='post'>
    {%csrf_token%}
    {% bootstrap_form form %}
    {% bootstrap_button button_type='submit' content='New Entry' %}
</form>
<div class='row'>
<a href="{% url 'learning_logs:topics' %}" class="card-link col">Back to Topic list</a>
<a href="{% url 'learning_logs:index' %}" class="card-link col">Back to Journaling</a>
</div>
</br></br>
{%endblock content%}


