{% extends 'between_app/_base.html' %}

{% block content %}

<div class="card cold-white mt-3 mb-4">

  <div class="card-header fs-3 soft-blue">Topic: '{{topic.text|title}}'</div>

  <div class="card-body">
    <a href="{% url 'learning_logs:topics' %}" class="card-link">Back to Topic list</a>
    <a href="{% url 'learning_logs:index' %}" class="card-link">Back to my Journal</a>
    
    <ul class="list-group p-2">
      {% for entry in entries%}
      <li class="list-group-item bg-bright">
        {{entry.date_added|date:'M d,Y H:i'}}
        <a href="{%url 'learning_logs:new_entry' entry.pk %}">
          Edit entry</a></br>
          {{entry.text|linebreaks}}
        </li>
        
        {% empty %}
        <li class="list-group-item bg-bright">There are no entries for this topic yet. </li>
        {% endfor %}
      </ul>
      <a
        class="btn btn-primary ms-2"
        href="{%url 'learning_logs:new_entry' topic.pk %}">Add new entry
      </a>
  </div>
{% endblock content %}
