{% extends 'between_app/_base.html' %}

{% block content %}

<div class="card mt-2 mb-3 cold-white">
  <div class="card-header display-6 soft-blue">Topics:</div>
  <div class="card-body">
    <ul class="list-group">
      {% for topic in topics %}
        <li class="list-group-item bg-bright"> 
            <a href="{% url 'learning_logs:topic' topic.pk %}">
            {{topic.text}} </a> &nbsp;
            <a class='link-secondary' href="{% url 'learning_logs:new_entry' topic.pk %}">
              <i class="bi bi-plus-square-fill text-primary fs-5"></i></a>
            </li>
      {% empty %}
        <li> No topics have been added yet </li>
      {% endfor %}
    
    </ul>  </div>

<div class="card-footer">
<a href="{% url 'learning_logs:new_topic'%}"
  class="card-link">Add a new topic</a>
<a href="{% url 'learning_logs:index' %}" class="card-link">Back to Journaling</a>
</div>
</div>



{% endblock content %}
