{% extends 'between_app/_base.html' %}

{% block content %}
{% load static %}

<div class="card mb-3 mt-2 border-primary border-3 soft-green"> 
  <div class="card-body">

<h2 class='card-title'>Dive In</h2>

<p class='card-text'>This section is to explore more deeply CreaTherapy as a therapeutic approach.</p>

{% if not perms.accounts.can_dive and user.is_authenticated%}
<div
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
    ></button>

    <strong>Still not a Diver?</strong> Press any section to activate a full access.
</div>
{% endif%}

  </div></div>

{% if user.is_authenticated%}

    <!-- Creations -->

<div class="card mb-3 border-primary border-1 soft-blue"> 
  <div class="card-body">

  <h2 class='card-title'>Creation journal</h2>

  <ul class='list-group'>
  {% for creation in creations %}
    <li class='list-group-item warm-white'> 
        <a class='t-burnt-yellow' href="{% url 'dive_app:creation_item' creation.pk %}">
        {{creation.title}}</a>: <small>{{creation.date_added|date}} - "{{creation.goal|truncatechars:60}}"</small>

      </li>
  
  {% empty %}
    <li class='list-group-item'> No entries have been added yet </li>
  {% endfor %}
    </ul>
    </br>
    <a class="badge bg-primary p-2 m-2" href={% url 'dive_app:new_creation' %}>New creation</a>
    <a class="badge bg-primary p-2 m-2" href={% url 'dive_app:creations_by_date' %}>Creation list</a>
    </div>
    </div>



    <!-- Shadow -->
 
<div class="card mb-3 border-primary border-1 soft-blue"> 
  <div class="card-body">

  <h2 class='card-title'>Shadow Journal</h2>

  <ul class='list-group'>
  {% for shadow in shadows %}
    <li class='list-group-item warm-white'> 
        <a class='t-burnt-yellow' href="{% url 'dive_app:shadow_item' shadow.pk %}">
        {{shadow.title}}</a>: <small>{{shadow.date_added|date}} - "{{shadow.goal|truncatechars:60}}"</small>

      </li>
      
  {% empty %}
    <li class='list-group-item'> No entries have been added yet </li>
  {% endfor %}
    </ul>
    </br>



    <a class="badge bg-primary p-2 m-2" href={% url 'dive_app:new_shadow' %}>New Shadow</a>
    <a class="badge bg-primary p-2 m-2" href={% url 'dive_app:shadows_by_date' %}>Shadow list</a>


    {% else %}

    <div class="card mb-3 mt-2 border-primary border-3 soft-green"> 
      <div class="card-body">    
    <p class='card-text'>After Signing In, you will find a sumary of your different Journal entries.</p>
      </div></div>
<div class="alert alert-success" role="alert">
  Please Sign In before exploring the Journal section so it is personalised for you. <a href="{% url 'account_login' %}">Sign In</a>
</div>
    {% endif%}
    </div>
    </div>   
{% endblock content%}