{% extends 'between_app/_base.html' %}


{% block title%}
Creative Reflection
{% endblock title%}
{%block content%}
{% load django_bootstrap5 %}

<div class="card cold-white">
  <div class="card-header soft-blue">
  <div class="card-title display-6">Creative Reflection</div>
</div>
  <div class="card-body">
    <p class="card-title fs-5">A guided creative reflection:</p>
    <p class="card-title">Please relax and take your time thinking the prompts. They are a guided meditation of sorts, allow spontaneous answers if they emerge in your head.</p>
    <p class="card-text">You can always come back to it later and you can always add a new entry.</p>

    <div class="card-title fs-5">Creative Prompts:</div>
    
    {% if user.is_authenticated%}
    
  <div class="card p-2 border-primary border-1">
  <form action="{% url 'dive_app:new_creation' %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type='submit' content='New Creation' %}
  </form>
</div>

{% else %}
<div class="alert alert-success" role="alert">
  Please Sign In before writing this reflection, so we can save it for you. <a href="{% url 'account_login' %}">Sign In</a>
</div>
    {% endif%}

<a href="{% url 'dive_app:creations_by_date' %}" class="card-link">Back to Creations list</a>
<a href="{% url 'dive_app:index' %}" class="card-link">Back to Journaling</a>
</div>

</br></br>
  {% endblock content %}

