{% extends 'between_app/_base.html' %}
{% block title%}{{creations.title}}{%endblock title%}

{% block page_header %}{{creations.title}}{% endblock page_header%}

{% block content %}
<div class="card cold-white mt-3 mb-4">
  <h5 class="card-header display-6 soft-blue">{{creations.title}}</h5>
    <div class="card-body">
      <div class="card-subtitle mb-2 text-body-secondary">{{creations.date_added|date}}
        <small><a href="{%url 'dive_app:edit_creation' creations.pk %}">
          Edit entry</a></small>
      </div>
    <div class="card border-1 border-primary">
      <div class="card-header soft-green">Goal of the exploration:  </div>
      <div class="card-body">
      <div class="card-text">{{creations.goal}}</div>
      </div>
    </div>

    <div class="card mt-3 border-1 border-primary">
      <div class="card-header soft-orange">My sensations:</div>
      <div class="card-body">
      <div class="card-text">{{creations.text_sensation}}</div>
      </div>
    </div>

    <div class="card mt-3 border-1 border-primary">
      <div class="card-header soft-green">My connections:</div>
      <div class="card-body">
      <div class="card-text">{{creations.text_conection}}</div>
      </div>
    </div>
    <div class="card mt-3 border-1 border-primary">
      <div class="card-header soft-orange">My metaphoric space:</div>
      <div class="card-body">
      <div class="card-text">{{creations.text_metaphore}}</div>
      </div>
    </div>
    <div class="card mt-3 border-1 border-primary">
      <div class="card-header soft-green">My Concepts:</div>
      <div class="card-body">
      <div class="card-text">{{creations.text_concepts}}</div>
      </div>
    </div>

    <div class="card mt-3 border-1 border-primary">
      <div class="card-header soft-orange">My craft idea:</div>
      <div class="card-body">
      <div class="card-text">{{creations.text_craft}}</div>
      </div>
    </div>

 
<div class="card-footer">
      <a href="{% url 'dive_app:creations_by_date' %}" class="card-link">Back to Creations</a>
      <a href="{% url 'dive_app:index' %}" class="card-link">Back to Journal</a>
    </div>
  </div>
</div>


{%endblock content%}
