
{% extends '_base.html' %}

{% block content %}


<div class="card mt-2 mb-3 cold-white">
  <div class="card-header display-6 soft-blue">Creations List:</div>
  <div class="card-body">
  <div class="card-text"><a href="{%url 'dive_app:new_creation'%}">Add new Creation</a></div>

<ul class='list-group'>
  {% for creation in creations%}
    <li class='list-group-item'>
      <b>{{creation.title}}</b> - {{creation.date_added|date:'M d, Y'}} 
      <small><a href="{%url 'dive_app:creation_item' creation.pk %}">
        Open</a></small>
      <p>{{creation.goal}}</p>
    </li>
    {% empty %}
    <li>There are no entries for Creations yet.</li>
    {% endfor %}
  </ul>
<div class="card-footer">
<a href="{% url 'dive_app:creations_by_title' %}" class="card-link">By Title</a>
<a href="{% url 'dive_app:index' %}" class="card-link">Back to Journaling</a>
</div>
</div>
</div>


{% endblock content %}
