{% extends '_base.html' %}

{% block content %}




<div class="card mt-2 mb-3 cold-white">
  <div class="card-header display-6 soft-blue">After Session Questions List-By question:</div>
  <div class="card-body">
    <div class="card-text">
      <ul class="list-group">
        {% for answer in answers%}
        <li class="list-group-item">
          <p class="fs-6"><i>{{answer.question|title}}</i> 
            <small><a href="{%url 'learning_logs:question_item' answer.pk %}">
              Open</a> -
              <a href="{%url 'learning_logs:edit_question' answer.pk %}">
              Edit entry</a></small></p>
          <p>{{answer.text|linebreaks}}
          </p>
          </li>
          
          {% empty %}
          <li class="list-group-item">There are no questions yet. </li>
          {% endfor %}
        </ul>
        <a   class="btn btn-primary mt-2"
        href="{%url 'learning_logs:new_question'%}">Add new reflexion</a>
  </div></div>
  <div class="card-footer">
    <a href="{% url 'learning_logs:after_answer_date' %}" class="card-link">By Date</a>
    <a href="{% url 'learning_logs:index' %}" class="card-link">Back to Journaling</a>
  </div>
</div>
  
{% endblock content %}

