
{% extends 'between_app/_base.html' %}

{% block content %}



<div class="card mt-2 mb-3 cold-white">
  <div class="card-header display-6 soft-blue">After Session Questions List:</div>
  <div class="card-body">
  <div class="card-text"><a href="{%url 'learning_logs:new_question'%}">Add new question</a></div>

    <ul class="list-group">
      {% for answer in answers%}
        <li class="list-group-item bg-bright">
          <p>{{answer.date_added|date:'M d,Y H:i'}} - 
            <small><a href="{%url 'learning_logs:question_item' answer.pk %}">
            Open</a> -
            <a href="{%url 'learning_logs:edit_question' answer.pk %}">
            Edit entry</a></small></p>
          <p><i>{{answer.question}}</i></p>
          <p>{{answer.text|linebreaks}}</p>

        </li>
    
        {% empty %}
        <li class="list-group-item">There are no entries for this topic yet. </li>
        {% endfor %}
      </ul>
      <a   class="btn btn-primary mt-2"
      href="{%url 'learning_logs:new_question'%}">Add new reflexion</a>


      <div class="card-footer">
      <a href="{% url 'learning_logs:after_answer_question' %}" class="card-link">By Question</a>
      <a href="{% url 'learning_logs:index' %}" class="card-link">Back to Journaling</a>
</div>
</div>







{% endblock content %}
