{% extends 'between_app/_base.html' %}
{% block content %}
{% load django_bootstrap5 %}
<p><a href="{% url 'learning_logs:index'%}">{{topic}}</a></p>

<p>Edit Entry</p>

<form action="{%url 'learning_logs:edit_question' question.pk %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type='submit' content='Update Answer' %}
</form>
<a href="{% url 'learning_logs:answer_by_date' %}" class="card-link">Back to Questions list</a>
<a href="{% url 'learning_logs:index' %}" class="card-link">Back to Journaling</a>

</br></br>


{%endblock content%}
