{% extends 'between_app/_base.html' %}
{% block title%}{{question.title}}{%endblock title%}

{% block content %}
<div class="card cold-white mt-3 mb-4">

  <div class="card-header fs-4 soft-blue">{{question.question}}</div>

  <div class="card-body">
    <div class="card-subtitle mb-2 text-body-secondary">{{question.date_added|date}}
    <small><a href="{%url 'learning_logs:edit_question' question.pk %}">
      Edit entry</a></small></div>
    <div class="card-text bg-white rounded border-1 border-primary">{{question.text}}</div>
    
      <div class="card-footer">
    <a href="{% url 'learning_logs:after_answer_date' %}" class="card-link">Back to question list</a>
    <a href="{% url 'learning_logs:index' %}" class="card-link">Back to Journaling</a>
  </div>
</div>
</div>
</div>


{%endblock content%}
